.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  border-radius: 6px;
  background-color: rgb(245, 241, 241);
  min-height: 500px;
  padding: 30px;
}
